a {
  color: whitesmoke;
}

#videobackground .gradient {
  background: -moz-linear-gradient(45deg, rgba(47, 199, 237, 1.0), rgba(23, 87, 26, 1.0) 100%);
  background: -webkit-linear-gradient(45deg, rgba(47, 199, 237, 1.0), rgba(23, 87, 26, 1.0) 100%);
  background: linear-gradient(to bottom right, rgb(0, 105, 209) 0%, rgb(255, 255, 255) 92.8%);
}

#videobackground .view video {
  top: 0!important;
  left: 0!important;
  transform: none!important;
  height: 100vh;
}

.welcome {
  font-weight: bolder;
  font-size: 70px;
}

.secondWelcome {
  font-weight: bolder;
  margin-bottom: 40px;
}

.headers {
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
}

.sub-content {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.table-content {
  margin-bottom: 10px;
}

.budget-content {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#navStyle {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-right: 2px solid whitesmoke;
  padding: 5px;
}

#navStyleP {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}

#table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-subs {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-weight: 700;
}

.budget {
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
  font-weight: 500;
  font-size: 20px;
}

.icons {
  font-size: 30px;
}

.sub-icons {
  color: black;
}

.members-stuff {
  margin-top: 150px;
}

.sub-btn {
  width: 50%;
}

.due-date {
  margin-left: 0px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 60%;
  }
  .home-content {
    margin-top: 40%;
  }
  .sub-btn {
    height: 30%;
    width: 30%;
    position: relative;
  }
  .icons {
    font-size: 20px;
  }
  .sub-icons {
    position: absolute;
    bottom: 1px;
    right: 3px;
  }
  .budget-content {
    font-size: 15px;
  }
  .budget {
    font-size: 15px;
  }
  .members-stuff {
    margin-top: 70px;
  }
  .price {
    padding-left: 10px;
  }
  .due-date {
    margin-left: 10px;
  }
  .start-date {
    margin-left: -10px;
  }
  .my-subs {
    font-size: 25px;
  }
}