#videobackground .gradient {
    background: -moz-linear-gradient(45deg, 
    rgba(47, 199, 237, 1.0),
     rgba(23, 87, 26, 1.0) 100%);
    background: -webkit-linear-gradient(45deg,
    rgba(47, 199, 237, 1.0),
     rgba(23, 87, 26, 1.0) 100%);
    background:  radial-gradient( circle farthest-corner at 8.8% 14.2%, rgba(2,113,75,0.9) 21.9%, rgba(255,255,255,0.7) 90% );
}

    
    #videobackground .view video {
    top: 0!important;
    left: 0!important;
    transform: none!important;
    height: 100vh;
    }
.welcome {
  font-weight: bolder;
  font-size: 70px;
}
.secondWelcome {
  font-weight: bolder;
  margin-bottom: 40px;
}
#navStyle {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-right: 2px solid whitesmoke;
  padding: 5px;


}
#navStyleP {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}

#table {
  box-shadow:  darkgray 2px 2px 20px 5px;
}

#my-subs {
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
}